<table class="table table-sm">
    <thead>
        <tr>
        <th scope="col">CPH</th>
        <th scope="col">Farm name</th>
        <th scope="col">Address1</th>
        <!-- Add more columns as needed -->
        </tr>
    </thead>
    <tbody>        
        {% for farm in farms %}        
        <tr scope="row">
            <td>{{ farm.county }}/{{ farm.parish }}/{{farm.holding_number}}</td>
            <td>{{ farm.farm_name }}</td>
            <td>{{ farm.address_line1 }}</td>            
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No farms found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  