{% extends 'base.html' %}
{% load static %}

{% block title %}
    OCD - RMT (demo)
{% endblock %}

{% block home_active %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Odd Cow Disease 🐄 Report Management Tool</h1>        
        <hr/>
        <h2>Reports</h2>
        <p>Show all the reports here, option to filter to just show my own reports, outstanding reports, etc.
            This is not legacy data - all the corresponding records have been duplicated from the legacy data to our new database.</p>
        <h2>Current reports</h2>
        
        {%include 'reports/reports.html' %}
        <h2>Farm lookup</h2>        
        {%include 'farms/farms.html' %}

        <a href="farms/search">Search for a farm</a>
    </div>
{% endblock %}
