{% extends 'base.html' %}
{% load static %}

{% block title %}
    OCD - RMT (demo)
{% endblock %}

{% block home_active %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Odd Cow Disease 🐄 Report Management Tool</h1>
        <p class="text-center">Welcome 'insert name here' -your last login was:blah, today is {% now "SHORT_DATE_FORMAT" %}.</p>
        <navigation class="mt-3">
            <a href="farms/search" class="btn btn-primary">Search for a farm</a>        
            <a href="reports/search" class="btn btn-secondary">Search for an incident report</a>        
        </navigation>
        <h2 class="mt-3">Your reports</h2>
        
        {%include 'reports/reports.html' %}                
        
        
    </div>
{% endblock %}
