{% extends 'base.html' %}
{% load static %}

{% block title %}
    OCD - RMT (demo)
{% endblock %}

{% block home_active %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Odd Cow Disease ~ Report Management Tool</h1>
        <p class="text-center">Welcome {{user.first_name}}, your last login was {{user.last_login}}</p>

        <div class="alert alert-warning" role="alert">
            <p class="lead">You have an account here but you don't yet have permission to access the site. Please check back later. Thank you.</p>
            <p><small class="text-muted">groups:{{user.groups}}  permissions:{{user.user_permissions}}</small></p>
        </div>          
    </div>
{% endblock %}
